<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANMuaKzc1kxN0ryTxvlNZWaYeRU1wz0Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>524295796154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAdsPurchaseBestcase</string>
	<key>PROJECT_ID</key>
	<string>decider-82556</string>
	<key>STORAGE_BUCKET</key>
	<string>decider-82556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524295796154:ios:a1edc988344637a8539983</string>
</dict>
</plist>